.armario {
  background-color: rgb(172, 114, 73);
  height: 500px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-armario {
  background-color: seashell;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 2px;
}
