.container-casilla {
  background-color: rgb(135, 168, 122);
  height: 120px;
  width: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
