.container-dado {
  padding: 4px;
  background-color: tomato;
  width: 150px;
  height: 80px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
